.text-select {
    display: block;
    width: 100%;
    position: relative;

}

.text-select .type-ahead-container {
    position: absolute;
    width: 100%;
    height: 0px;
    display: none;
    padding: 0px;
    list-style: none;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: height .5s;
    transition-timing-function: ease-out;
    z-index: 5001;
}

.text-select.open {
    z-index: 5000;
}

.open .type-ahead-container {
    display: inherit;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

.text-select .type-ahead-container li {
    padding: .375rem .375rem .375rem .75rem;
    border-bottom: 1px solid #e9ecef;
    cursor: pointer;
}

.text-select .type-ahead-container li:hover {
    background-color: #e9ecef;
}

.multi-select-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, .1);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5000;
    display: none;
}

.open .multi-select-bg {
    display: block;
}