<div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>

    <div class="max-w-7xl mx-auto bg-white rounded-xl shadow-xl p-6 sm:p-10">

        <!-- Header -->
        <header class="mb-8 border-b">
            <h1 class="text-2xl font-extrabold text-indigo-700">
                Unit of Measurement (UOM)
                <span class="text-sm text-gray" style="display: block; font-weight: normal; font-size:12px">
                    Manage your list of UOMs here.
                </span>
            </h1>
        </header>

        <section class="mb-8">
            <h2 class="text-xl font-semibold text-gray-800 mb-4 border-b pb-2">
                Add UOM
            </h2>

            <div class="grid grid-cols-1 md:grid-cols-12 gap-4 items-end" style="align-items: flex-start;">
                <!-- Supplier Name -->
                <div class="md:col-span-3">
                    <div [class]="validate_newUOM.type">
                        <label class="form-label">UOM type</label>
                        <app-text-dropdown [placeholder]="'UOM Type'" [(value)]="new_uom.type" [use_col]="'type'"
                            [InputData]="uomTypes"></app-text-dropdown>
                        <span class="error-message">Please enter UOM type</span>
                    </div>
                </div>

                <!-- Measure -->
                <div class="md:col-span-3">
                    <div [class]="validate_newUOM.measure">
                        <label class="form-label">UOM Measure</label>
                        <input type="text" class="form-control app-form-component" placeholder="UOM Measure"
                            [(ngModel)]="new_uom.measure">
                        <span class="error-message">Please enter UOM measure</span>
                    </div>
                </div>

                <!-- abbr -->
                <div class="md:col-span-3">
                    <div [class]="validate_newUOM.abbr">
                        <label class="form-label">UOM Abbreviation</label>
                        <input type="text" class="form-control app-form-component" placeholder="UOM Abbreviation"
                            [(ngModel)]="new_uom.abbr">
                        <span class="error-message">Please enter UOM abbreviation</span>
                    </div>
                </div>


                <div class="md:col-span-3"
                    style="display: flex; align-items: center; justify-content: center; height: 100%;">
                    <button type="submit" class="btn btn-primary mb-3" (click)="addUOM()">Add UOM</button>
                </div>


            </div>

        </section>

        <section class="mb-8 ">
            <h2 class="text-xl font-semibold text-gray-800 mb-4 border-b pb-2">UOM List</h2>
            @if(uomList.length >0) {
            <div class="sm:block shadow-md rounded-xl">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-100">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                UOM type</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Measure</th>
                            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Abbreviation</th>
                            <th style="width: 100px;" class=" uppercase ">
                                Action</th>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @for(uom of uomList; track $index) {
                        @if(!uom.edit) {
                        <tr>
                            <td class="px-6 py-3">
                                {{uom.type}}
                            </td>
                            <td class="px-6 py-3">
                                {{uom.measure}}
                            </td>

                            <td class="px-6 py-3">
                                {{uom.abbr}}
                            </td>

                            <td class="px-6 py-3" style="width: 100px;">
                                <div class="flex justify-center space-x-2">
                                    <button type="button" style="padding: 10px;"
                                        class="btn btn-sm btn-outline-secondary" (click)="editUOMClick(uom)">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <button type="button" style="padding: 10px;" class="btn btn-sm btn-outline-danger"
                                        (click)="deleteUOM(uom)"><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                        }
                        @if(uom.edit) {
                        <tr>

                            <td class="px-6 py-3">
                                 <label class="form-label">UOM type</label>
                                <app-text-dropdown [placeholder]="'UOM Type'" [(value)]="uom.type" [use_col]="'type'"
                                    [InputData]="uomTypes"></app-text-dropdown>
                            </td>
                            <td class="px-6 py-3">
                                 <label class="form-label">UOM Measure</label>
                                <input type="text" class="form-control app-form-component" placeholder="UOM Measure"
                                    [(ngModel)]="uom.measure">
                            </td>

                            <td class="px-6 py-3">
                                 <label class="form-label">UOM Abbreviation</label>
                                <input type="text" class="form-control app-form-component"
                                    placeholder="UOM Abbreviation" [(ngModel)]="uom.abbr">
                            </td>

                            <td class="px-6 py-3" style="width: 100px;">
                                <div class="flex justify-center space-x-2">
                                    <button type="button" style="padding: 10px;" (click)="updateUOM(uom)"
                                        class="btn btn-sm  btn-outline-success">
                                        <i class="fa-solid fa-check"></i>
                                    </button>
                                    <button type="button" style="padding: 10px;"
                                        class="btn btn btn-sm btn-outline-danger" (click)="cancelEditUOM(uom)"><i
                                            class="fa-solid fa-xmark"></i></button>
                                </div>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
            </div>
            }
            @else{
            <div class="mt-4 p-4 text-center text-gray-500 italic bg-gray-50 rounded-lg border"> No UOMs added yet.
            </div>
            }
        </section>

    </div>

</div>