<div class="multi-select" #multiselect>
    <div class="select-btn" (click)="multiselect.classList.toggle('open')">
        <span> {{select_value? select_value: 'Select one Option' }}</span>
        <i class='bx bx-chevron-down bx-lg'></i>
    </div>

    <div class="select-options">
        <div class="search-box">
            <input type="text" class="form-control form-control-sm" [(ngModel)]="filter_value" (keyup)="filterList()"
                placeholder="search">
            <i class="fa-solid fa-magnifying-glass fa-lg" style="color: gray;"></i>
        </div>

        <ul>

            @for(opt of filteredData; track $index) {
            <li (click)="selectOption(opt)">{{opt[use_col_text()]}}</li>
            }

        </ul>

    </div>

    <div class="multi-select-bg" (click)="multiselect.classList.toggle('open')"></div>
</div>