<div class="breadcrumb-header">
    <div class="breadcrumb-header-name" (click)="navigateTo('/')">
        <button type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColors">
                <path
                    d="M14.2893 5.70708C13.8988 5.31655 13.2657 5.31655 12.8751 5.70708L7.98768 10.5993C7.20729 11.3805 7.2076 12.6463 7.98837 13.427L12.8787 18.3174C13.2693 18.7079 13.9024 18.7079 14.293 18.3174C14.6835 17.9269 14.6835 17.2937 14.293 16.9032L10.1073 12.7175C9.71678 12.327 9.71678 11.6939 10.1073 11.3033L14.2893 7.12129C14.6799 6.73077 14.6799 6.0976 14.2893 5.70708Z" />
            </svg>
        </button>
        <span>Suppliers</span>
    </div>
    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="toggle_left_slide_model()"> Add
        Supplier</button>
</div>

<div class="banner"></div>

<div class="card-list">
    @for(supplier of supplier_list; track $index) {
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{supplier.data.name}}</h5>
            <div class="badge-list">

                @for(cat of supplier.data.productCategory; track $index) {
                <span>{{cat}}</span>
                }
            </div>
            <p class="card-text">{{supplier.data.address}}</p>
        </div>
    </div>
    }

</div>

<div class="left-slide-model">

    <div class="breadcrumb-header">
        <div class="breadcrumb-header-name">
            <button type="button" onclick="toggle_left_slide_model()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColors">
                    <path
                        d="M14.2893 5.70708C13.8988 5.31655 13.2657 5.31655 12.8751 5.70708L7.98768 10.5993C7.20729 11.3805 7.2076 12.6463 7.98837 13.427L12.8787 18.3174C13.2693 18.7079 13.9024 18.7079 14.293 18.3174C14.6835 17.9269 14.6835 17.2937 14.293 16.9032L10.1073 12.7175C9.71678 12.327 9.71678 11.6939 10.1073 11.3033L14.2893 7.12129C14.6799 6.73077 14.6799 6.0976 14.2893 5.70708Z" />
                </svg>
            </button>
            <span>Add Suppliers</span>
        </div>
    </div>

    <div class="model-body">

        <div [class]="new_supplier_validate.name">
            <label class="form-label">Supplier Name</label>
            <input type="text" class="form-control app-form-component" placeholder="Supplier Name"
                [(ngModel)]="new_supplier.name">
            <span class="error-message">Please enter Supplier name</span>
        </div>


        <div class="mb-3">
            <label class="form-label">Product Category</label>
            <app-multiselect [errorClass]="new_supplier_validate.productCategory"
                [selectInputData]="getProductCategoryList()" [selected]="new_supplier.productCategory"
                (onSelectChange)="updateProductCategory($event)" [errorMessage]="'Please Select Category'">

            </app-multiselect>
        </div>

        <div [class]="new_supplier_validate.contactPerson">
            <label class="form-label">Contact Person Name</label>
            <input type="text" class="form-control app-form-component" placeholder="Contact Person Name"
                [(ngModel)]="new_supplier.contactPerson">
            <span class="error-message">Please enter contact person name</span>
        </div>

        <div [class]="new_supplier_validate.email">
            <label class="form-label">Email</label>
            <input type="email" class="form-control app-form-component" placeholder="name@example.com"
                [(ngModel)]="new_supplier.email">
            <span class="error-message">Please enter Supplier email</span>
        </div>

        <div [class]="new_supplier_validate.phone">
            <label class="form-label">phone</label>
            <input type="number" class="form-control app-form-component" placeholder="10 digit phone number"
                [(ngModel)]="new_supplier.phone">
            <span class="error-message">Please enter Supplier Phone Number. Only use numbers and should be 10
                digits</span>
        </div>

        <div [class]="new_supplier_validate.address">
            <label class="form-label">Address</label>
            <textarea class="form-control app-form-component" rows="3" [(ngModel)]="new_supplier.address"></textarea>
            <span class="error-message">Please enter Supplier address</span>
        </div>

        <div [class]="new_supplier_validate.location">
            <label class="form-label">Google Location Link</label>
            <input type="text" class="form-control app-form-component" placeholder="google Location link"
                [(ngModel)]="new_supplier.location">
            <span class="error-message">Please copy location link from google maps</span>
        </div>

        <div [class]="new_supplier_validate.businessDescription">
            <label class="form-label">Description</label>
            <textarea class="form-control app-form-component" rows="3"
                [(ngModel)]="new_supplier.businessDescription"></textarea>
            <span class="error-message">Please enter Supplier description</span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3" (click)="addSupplier()">Add Supplier</button>
        </div>

    </div>

</div>