.col-product {
    width: 90px;
    padding-right: 0px;
}

.col-product img {
    width: 80px;
    max-height: 80px;
}

.col-purchase {
    vertical-align: middle;
    /* width: 200px; */
}

.vertical-text {
    padding-left: 0px;
    text-orientation: mixed;
    writing-mode: vertical-lr;
    width: 17px;
    text-align: center;
}

.vertical-text span {
    display: block;
}

.selling-price {
    vertical-align: middle;
    /* width: 150px; */
}


.selling-price input {
    padding: .2rem .55rem;
    color: #444050;
    border-radius: 0.275rem;
    border: 1px solid color-mix(in sRGB, #2f2b3d 22%, #fff);
}

.form-card .form-card-body .form-div {
    padding: 0px !important;
}

.action {
    align-items: center;
    vertical-align: middle;
}

.action button {
    font-size: 12px;
}

.overlay-form-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
}

.overlay-form {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2001;
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding: .5rem;
    /* display: flex; */
}

.overlay-true .overlay-form-bg {
    display: block;
}

.overlay-true .overlay-form {
    display: flex;
}

.overlay-form-body {
    padding: 0px;
    background-color: white;
    border-radius: 5px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {

    background-color: #ebebeb !important;
    border-color: #ebebeb !important;
}

.search-product-model {
    padding: 1rem;
    background-color: #ebebeb;
    display: none;
}

.add-product-model {
    padding: 1rem;
    background-color: #ebebeb;
    display: none;
}



.add-product .add-product-model {
    display: block;
}

.search-product .search-product-model {
    display: block;
}

.btn-close {
    position: absolute;
    right: 5px;
    top: 4px;
    border: none;
    border-radius: 50%;
    background: gray;
    padding: 0px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Search Product  */
.search-product-list {
    width: 100%;
    padding: 10px;
    display: flex;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    flex-direction: column;
    cursor: pointer;
}

.search-product-list:hover{
    background-color: #e7e7e7;
    border-color: #7367f0
}

.search-product-list img {
    width: 100px;
    border-radius: 5px;
}