.scanner-container,
.connection-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.connection-container {
    z-index: 2001;
}

.scanner,
.connection {
    width: 100%;
    max-width: 500px;
    height: 100%;
    background-color: gray;
    border-radius: 10px;
    padding: 1rem;
}



.scanner .camera-view {
    width: 100%;
    height: 80%;
    background-color: #a5a1a1;
    border-radius: 10px;
    position: relative;
    padding: .15rem;
}

.scanner .camera-view .camera-view-container{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: black;
    border-radius: 10px;
}

.scanner .barcode-view {
    width: 100%;
    margin-top: 1rem;
    background: white;
    padding: .5rem 1rem;
    border-radius: 5px;
    display: flex;
    gap: 5px;

}

.scanner .barcode-view span:first-child {
    text-transform: uppercase;
    font-weight: 600;
}

.scanner .barcode-view span:last-child {
    font-weight: normal;
    font-size: 15px;
}

.connection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connection .connect-to{
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    
}