/* You can add global styles to this file, and also import other style files */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Golos Text", sans-serif;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.banner {
    background-color: #12a5bc;
    width: 100%;
    height: 80px;
}

/* ---------------Breadcrumb -------------- */

.breadcrumb-header {
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    justify-content: space-between;
}

.breadcrumb-header-name {
    display: flex;
    align-items: center;
}

.breadcrumb-header-name button {

    max-height: 30px;
    border: none;
    background: none;
    color: black;
}

.breadcrumb-header-name button svg {
    width: 24px;
    height: 24px;
}

.breadcrumb-header-name span {
    display: block;
}


/* ---------------Model -------------- */

.left-slide-model {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: -100%;
    background: white;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 50px;
    transition: left .5s;
    transition-timing-function: ease-out;
}

.show-left-slide-model .left-slide-model {
    left: 0px;
}

.left-slide-model .model-body {
    width: 100%;
    height: auto;
    padding: 20px;
}

/* Material Dialogue*/

.cdk-global-overlay-wrapper {
    justify-content: center !important;
    align-items: center !important;
}

.custom-dialogue {
    padding: 0 !important;
    /* Remove default padding */
    border-radius: 0 !important;
    /* Remove default border-radius if desired */
}

/* ----------------Form------------------- */
.error-message {
    color: #dc3545;
    font-size: .875em;
    display: none;
}

.error .error-message {
    display: block;
}

.error .app-form-component.form-control,
.error .app-form-component.form-select {
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);

}


.error .app-form-component.form-select:focus,
.error .app-form-component.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(220, 53, 69, .25);
}


/* -------------------Card List-------------- */
.card-list {
    width: 100%;
    height: auto;
    padding-bottom: 70px;
}

.card-list .list-container {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
}

.card-list .list-container img {
    width: 80px;
}

.card-list .card {
    margin-top: 10px;
}

.badge-list {
    width: 100%;
    font-size: 12px;
    line-height: 12px;
    color: #6c757d;
    display: flex;
    gap: 2px;
}

.badge-list span {
    padding: 2px;
    border: 1px solid #adb5bd;
    display: block;
    border-radius: 3px;
}

/* ------------loader--- */

.loader {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 6000;
    top: 0px;
    left: 0px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.show-loader .loader {
    display: flex;
}

.loader .loader-text {
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 3px;
}

.loader .custom-text {
    padding-top: 10px;
    font-size: 18px;
}

.loader-icon {
    width: 38px;
    height: 38px;
    border: 8px solid #FFF;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
    box-sizing: border-box;
    display: block;
}

.loader-icon::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: -8px;
    border-radius: 50%;
    border: 8px solid #FF3D00;
    animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}