@if(user!=null) {
<div class="nav-top">
    <div class="menu-toggle" onclick="toggle_side_menu()">
        <!-- <i class='bx  bxs-menu'></i> -->

        <i class="fa-solid fa-bars"></i>
    </div>
    <div class="nav-center">
        <div class="search-box">
            <i class='bx  bx-search'></i>
            <input type="text" class="form-control" placeholder="Search [CTRL + K]">
        </div>
    </div>
    <div class="nav-right">
        <div class="notification">
            <i class="fa-solid fa-bell"></i>
            <span></span>
        </div>

        <div class="avatar-container">
            <div class="avatar" onclick="open_user_menu(this)">
                {{user_initial}}
            </div>
            <ul class="user-menu">
                <li>
                    <i class="fa-solid fa-user"></i> {{user.displayName}}
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><i class="fa-solid fa-gear"></i> Settings</li>
                <li><i class="fa-solid fa-circle-question"></i>FAQ</li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><button type="button" class="btn btn-danger btn-sm" (click)="logout()">Logout</button></li>
            </ul>
        </div>

        <!-- <button type="button" class="logout"><i class="fa-solid fa-power-off"></i></button> -->
    </div>
</div>

<div class="nav-top-mobile">
    <span class="path" (click)="navigateTo('/', false)"><i class="fa-solid fa-house"></i> Home</span>
    @for(path of current_path; track $index) {
    <span class="separator">/</span>
    <span class="path" (click)="navigateTo(path.path, false)">{{path.text}}</span>

    }


</div>

<div class="nav-bottom">
    <div class="nav-bottom-menu-item" onclick="toggle_side_menu()">
        <i class="fa-solid fa-bars fa-lg"></i>
        <span>Menu</span>
    </div>

    <div class="nav-bottom-menu-item">
        <i class="fa-solid fa-house fa-lg"></i>
        <span>Home</span>
    </div>

    <div class="nav-bottom-menu-item">
        <i class="fa-solid fa-barcode fa-lg"></i>
        <span>Purchase</span>
    </div>



    <div class="avatar-container">
        <div class="avatar" onclick="open_user_menu(this)">
            {{user_initial}}
        </div>
        <ul class="user-menu">
            <li>
                <i class="fa-solid fa-user"></i> {{user.displayName}}
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li><i class="fa-solid fa-gear"></i> Settings</li>
            <li><i class="fa-solid fa-circle-question"></i>FAQ</li>
            <li>
                <div class="divider"></div>
            </li>
            <li><button type="button" class="btn btn-danger btn-sm" (click)="logout()">Logout</button></li>
        </ul>
    </div>




</div>

<div class="side-nav">
    <div class="branding">
        <i class="fa-solid fa-bag-shopping fa-xl"></i>
        <span>DeBranded</span>
        <button type="button" onclick="toggle_side_menu()"><i class="fa-solid fa-xmark"></i> </button>
    </div>

    <ul class="menu">
        @for(nv of navMenu; track $index) {
        <li class="menu-item show-{{nv.active}}">
            @if(nv.path) {
            <div class="menu_anchor active-{{nv.active}}" (click)="navigateTo(nv.path, true)">
                <i class="fa-solid fa-house"></i>
                <span style="width: 100%;">{{nv.text}}</span>
            </div>
            }

            @if(nv.subMenu) {
            <div class="menu_anchor has-sub-menu active-{{nv.active}}" onclick="open_sub_menu(this)">
                <i class="fa-solid fa-box"></i>
                <span style="width: 100%;">{{nv.text}}</span>
            </div>

            <ul class="sub-menu-item">
                @for(snv of nv.subMenu; track $index) {
                <li class="active-{{snv.active}}" (click)="navigateTo(snv.path, true)"> <i class='bx  bx-circle'></i>
                    {{snv.text}}</li>
                }
            </ul>
            }
        </li>
        }

        <!-- Home -->
        <!-- <li class="menu-item">
            <div class="menu_anchor" (click)="navigateTo('/', true)">
                <i class="fa-solid fa-house"></i>
                <span style="width: 100%;">Home</span>
            </div>
        </li> -->

        <!-- Product -->
        <!-- <li class="menu-item">
            <div class="menu_anchor has-sub-menu" onclick="open_sub_menu(this)">
                <i class="fa-solid fa-box"></i>
                <span style="width: 100%;">Product</span>
            </div>
            <ul class="sub-menu-item">
                <li class="active" (click)="navigateTo('/products', true)"> <i class='bx  bx-circle'></i> Product
                    List</li>
            </ul>
        </li> -->
        <!-- Stock -->
        <!-- <li class="menu-item">
            <div class="menu_anchor has-sub-menu" onclick="open_sub_menu(this)">

                <i class="fa-solid fa-layer-group"></i>
                <span style="width: 100%;">Inventory</span>


            </div>
            <ul class="sub-menu-item">
                <li class="active"> <i class='bx  bx-circle'></i> Purchase List</li>
                <li> <i class='bx  bx-circle'></i> New Purchase</li>
            </ul>
        </li> -->
    </ul>

</div>

<div class="side-nav-bg" onclick="toggle_side_menu()">

</div>
}